@charset "utf-8";
body{
    background-color: #f7f3e3;
    width: 95%;
    margin: auto;
    box-shadow: 3px 3px 15px #2B2118;
    border-radius: 10px;
    margin-top: 80px;
}

h1 {
    color: #af9164; background-color: #2B2118; text-align: center; text-decoration: dashed; font-size: 1.5em;
}
h2 {
    color: #6F1A07; text-align: left; font-size: 1.3em;
}
p{
    font-family: Arial, Helvetica, sans-serif, 'Arial Narrow', Arial, sans-serif; font-size: small;
}
ul{
    font-family: Arial, Helvetica, sans-serif; font-size: small
}
.parte-fixa {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #2B2118;
    padding: 10px;
    box-shadow: 3px 3px 15px black;
    color: #f7f3e3;
    padding: 3px;
    
}
.parte-fixa p {
    display: inline;
            margin: 0;
            color: #f7f3e3;
}
.conteudo1 {
    background-color: #dac8ae;
    padding: 10px;
}
.conteudo2 {
    background-color: #f7f3e3;
    padding: 10px;
}
a {
    color: #f7f3e3;
}
a:visited {
    color: #f7f3e3; 
}

.container {
    display: flex;
}

button {
    background-color: #2B2118;
    color: #2B2118;
    box-shadow: 0px 2px 3px #AF9164;
    border-radius: 5px;
    font-size: smaller;
}
footer {
    font-family: Arial, Helvetica, sans-serif, 'Arial Narrow', Arial, sans-serif; font-size: small;
    padding: 3px;
    background-color: #2B2118;
    color: #f7f3e3;
    
}
.video-container {
    position: relative;
    width: 60%;
    padding-bottom: 30%; 
    overflow: hidden;
    margin-left: 20%;
}

iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
